body{
	background: #DDD url("../images/back-ground.jpeg");
}

h1{
	text-align: center;
	text-transform: uppercase;
}

img{
   width: 120px;
   display: block; 
   margin-bottom: 15px; 
   margin: 0 auto;
   /*Your code here*/
}

div{
   padding: 30px; 
   margin: 5px;
   align-self: center;
   justify-self: center; 
   
   /* YOUR CODE HERE */
}

#mystuff{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;	
}

@media all and (min-width: 850px){

  #mystuff{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  div{
  	align-self: stretch;
    justify-self: stretch; 
  }

  div:nth-child(even){
  	border: 2px solid black;

  }